@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$font-size: 16px;
$bgprimary-color : #7C6DFE;
$primary-font : 'Montserrat', sans-serif;
$text-primary : #b6b6b6;
$text-secondary : #ececec;
$bgsecondary-color : #48255f;
$font-weight-text : 500;

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

li, a, a:link button{
    font-family: $primary-font;
    font-weight: $font-weight-text;
    font-size:$font-size;
    text-decoration: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgprimary-color;
    
}

.nav__hatim{
    padding-top: 4rem;
    cursor: pointer;
    padding-left: 10rem;
}

.nav__github{
    padding-top:2.5rem;
    cursor: pointer; /*Mettre un pointeur curseur comme pour des liens*/
    padding-bottom: 3rem;

}

.nav__ul{
    list-style-type: none; /*On est obligé d'attaché list-style à un élément d'ul ou li*/
    padding-right: 5em;
    li{
        display: inline-block; /*On est obligé de les référés en tant qu'individu pour les espacés sur une seule ligne*/
        padding: 0px 2rem;
    }
}